html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background: #222;
  background: radial-gradient(#333, #111);
  background-color: #000;
  color: rgb(133, 48, 14);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'SpongeBob Font Condensed', sans-serif;
  min-height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.navigation {
  display: grid;
  grid-template-columns: auto auto;
  margin: 20px;
}
.title {
  font-family: 'SpongeBob Font Condensed', sans-serif;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 60px;
  color: #8f76af;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(30,auto);
  grid-template-rows: repeat(30, auto);
  border: 20px solid #bb8b1f;
  border-radius: 2px;
  
  
}

.cell-type {
  width:100%;
  height:100%;
}

.cell {
  width: 20px;
  height: 20px;
}

#restart {
  font-family: 'SpongeBob Font Condensed', sans-serif;
  margin: 15px;
  font-size: 20px;
  background-color:#0457a0 ;
  color: #fff56c;
  border: 3px solid #f7e948;
  width: auto;
  border-radius: 5px;
 
}

#restart:hover{
  color:#0457a0;
  background-color: #fff56c;
  border: 3px solid #bb8b1f;

}

.score {
  font-family: 'SpongeBob Font Condensed', sans-serif;
  font-size: 30px;
  color: #fff56c;
}

.musicBtn {
  font-family: 'SpongeBob Font Condensed', sans-serif;
  font-size: 20px;
  align-items: center;
  border-radius: 10px;
  background-color: #ff808b;
  color: #f7e948;
  margin-left: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 2px solid white;
}

.musicBtn:hover {
  background-color: #f7e948;
  color: #ff808b;
  border: 2px solid #bb8b1f;
}
